{% extends 'base.html' %}
{% block title %}About Us-{% endblock title %}
{% block  body%}
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/static/image/aboutus.jfif" class="d-block w-100" alt="...">
        <div class="carousel-caption">
            <div class="hero-text-bgcolor">
                <h1 class="c-heading-1">We believe anyone can achieve what they believe in.</h1>
                <p class="c-subheading-1">Our mission is to empowers believers to achieve more.</p>
            </div>
        </div>
      </div>
      <!-- <div class="carousel-item">
        <img class="d-block w-100" src="..." alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="..." alt="Third slide"> -->
      </div>
    </div>
  </div>

  <!-- Marketing messaging and featurettes
  ================================================== -->
  

  <div class="container marketing my-5">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <img src="/static/image/acom.jfif.jpg" width="275" height="140" alt="..." style="object-fit: cover;object-position: bottom;">
        <!-- <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg> -->
        <h2 class="fw-normal">Our Company</h2>
        <p>Find out all about DSA in Python — our company, our vision for India, and more.</p>
        <p><a class="btn btn-secondary" href="#">View details »</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="/static/image/at.jfif.jpg" width="275" height="140" alt="..." " style="object-fit: cover;">
        <!-- <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg> -->
        <h2 class="fw-normal">Our Team</h2>
        <p>Get to know about our Team</p>
        <p><a class="btn btn-secondary" href="#">View details »</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="/static/image/ac.jfif.jpg" width="275" height="140" alt="...">
        <!-- <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg> -->
        <h2 class="fw-normal">Contact Us</h2>
        <p>Get in touch. We're here to help..</p>
        <p><a class="btn btn-secondary" href="/contact">View details »</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->
    <hr class="featurette-divider">
    <h1 class = "text-center my-3">Explore Our Stories</h1>
    <div class="row featurette my-5">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">First <span class="text-body-secondary">Stepping Stone</span></h2>
        <p class="lead">“This is my belief: that through difficulties and problems God gives us the opportunity to grow. So when your hopes and dreams and goals are dashed, search among the wreckage, you may find a golden opportunity hidden in the ruins''.”
            ― Dr. A.P.J. Abdul Kalam</p>
      </div>
      <div class="col-md-5">
        <img src="https://source.unsplash.com/1600x500/?India" width="400px" height="400px" alt="...">
        <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"></rect><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text></svg> -->
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-3">
        <h2 class="featurette-heading fw-normal lh-1 mx-5">Journey through stars. <span class="text-body-secondary">See for yourself.</span></h2>
        <p class="lead mx-5">“Everything can be taken from a man but one thing: the last of the human freedoms—to choose one's attitude in any given set of circumstances, to choose one’s own way.”
            ― Viktor E. Frankl, Man's Search for Meaning.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="https://source.unsplash.com/1600x500/?galaxies, stars" width="400px" height="400px" alt="...">
        <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"></rect><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text></svg> -->
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">To infinity <span class="text-body-secondary">and beyond.</span></h2>
        <p class="lead">“He who has a why to live for can bear almost any how.”
            ― Friedrich Nietzsche</p>
      </div>
      <div class="col-md-5">
        <img src="https://source.unsplash.com/1600x500/?creativity" width="400px" height="400px" alt="...">
        <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"></rect><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text></svg> -->
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div>
{% endblock  %}